.App {
  text-align: center;
  margin: 1vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


#SearchBar{
height:7vh;
width :70vw;
border-radius: 10px;
font-size: larger;
padding: 0vw 1vw;
}


.SearchComponent{
height : 10vh;
width:98vw;
box-shadow: 5px 5px 5px gray;
}

#SearchButton{
  height:8vh;
  width :10vw;
  border-radius: 10px;
  background-color: darkorchid;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
